@media only screen and (max-width:800px) {
    .custom_logo {
    margin-left: auto;
    margin-right: auto; 
    }

    .menu a {
        font-size: 16px;
    }

    .main_image {
        width: 100%
    }

    .row {
        display:block;
    }

    .row_second {
        display:block;

    }
    .imagery_image {
        width: 100%;
    }

    .product_image {
        width: 100%
    }

    .about_us_image {
        width: 100%;
    }

    .contact_image {
        width: 100%;
    }

    .about_us_heading {
        margin-left: 30px; 
    }

    .imagery_heading {
        margin-left: 30px;
    }

    .product_heading {
        margin-left: 30px;
    }

    .contact_heading {
        margin-left: 30px;
    }

    #social_link h3 {
        font-size: 20px;
    }

    .small_logo {
        margin-left: 0px;
    }

    .business_hour {
        margin-left: 10px; 
    }

    .text_follow {
        margin-left: 10px;
    }

    .tiktok_icon {
        margin-left: -150px;
        margin-bottom: 1px;
    }

    .facebook_icon {
        margin-left: -10px;
        margin-bottom: 1px;
    }

    .instagram_icon {
        margin-bottom: 1px;
        margin-left: 130px;
        
    }
}

@media screen and (max-width:400px) {
    .menu a {
        font-size: 30px;
        
    }

    .small_logo {
        margin-left: auto;
        margin-right: auto;
    }

    .business_hour {
        margin-left: auto;
        margin-right: auto;
    }

}